.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-2-line {
  -webkit-line-clamp: 2;
}

.truncate-3-line {
  -webkit-line-clamp: 3;
}

.truncate-4-line {
  -webkit-line-clamp: 4;
}

.owl-nav-custom .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.owl-nav-custom .owl-prev {
  position: absolute;
  left: 6px !important;
  background: #ccc !important;
  font-size: 30px !important;
  display: flex !important;
  align-items: center !important;
  width: 30px !important;
  height: 40px !important;
  justify-content: center !important;
}
.owl-nav-custom .owl-next {
  position: absolute !important;
  right: 6px !important;
  background: #ccc !important;
  font-size: 30px !important;
  display: flex !important;
  align-items: center !important;
  width: 30px !important;
  height: 40px !important;
  justify-content: center !important;
}

.feedback-container {
  position: relative;
  z-index: 0;
  background-position: center center !important;
  position: relative;
  background-attachment: fixed;
}
.feedback-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #000000;
  opacity: 0.7;
}
.feedback-container .feedback-box {
  position: relative;
  z-index: 1;
}
.feedback-container .feedback-header {
  color: #fff;
  margin-bottom: 70px;
}
.feedback-container .feedback-list .feedback-item {
  font-family: "Noto Serif", serif;
  color: #fff;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  position: relative;
  margin: 20px 10px;
  height: 320px;
}
.feedback-container .feedback-list .feedback-item .icon {
  position: absolute;
  top: -20px;
  left: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #b7472a;
}
.feedback-container .feedback-list .feedback-item .feedback-content {
  font-style: italic;
}
.feedback-container .feedback-list .feedback-item .feedback-user {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.feedback-container .feedback-list .feedback-item .feedback-user-name {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
.feedback-container .feedback-list .feedback-item .feedback-user-title {
  font-style: italic;
}
.feedback-container .feedback-list .feedback-item .feedback-user-img {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.left-sidebar-layout {
  padding-top: 20px;
  background-color: #f9f9f9;
}
.left-sidebar-layout .sidebar-box {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.06);
  padding-top: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.left-sidebar-layout .sidebar-box .sidebar-header-title {
  font-size: 20px;
  font-weight: 600;
  font-family: serif;
  margin-bottom: 10px;
}
.left-sidebar-layout .sidebar-box .search-box {
  margin-bottom: 23px;
  padding: 0 10px;
}
.left-sidebar-layout .sidebar-box .search-box .search-title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.left-sidebar-layout .sidebar-box .search-box .search-input {
  position: relative;
}
.left-sidebar-layout .sidebar-box .search-box .search-input .search-text {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-style: italic;
  border: 1px solid #ccc;
}
.left-sidebar-layout .sidebar-box .search-box .search-input .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #999;
  right: 0;
  background-color: #ccc;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
.left-sidebar-layout .sidebar-box .search-box .search-input .search-icon:hover {
  background-color: #ccc;
}
.left-sidebar-layout .sidebar-box .category-box {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.left-sidebar-layout .sidebar-box .category-box .list-category {
  background-color: #fff;
  border: 1px solid;
  border-radius: 5px;
  list-style: none;
  padding: 5px;
}
.left-sidebar-layout .sidebar-box .category-box .sidebar_nav li > a {
  display: flex;
  align-items: center;
  padding: 10.5px 20px 10.5px 20px;
  color: var(--color-gray);
  font-size: 14px;
  position: relative;
  font-weight: 500;
  line-height: 1.3571428571;
  text-transform: capitalize;
}
.left-sidebar-layout .sidebar-box .category-box .sidebar_nav li > a .nav-icon {
  color: var(--color-lighten);
  display: inline-block;
  font-size: calc(16.2px + 0.15vw);
  transition: var(--transition);
}
.left-sidebar-layout .sidebar-box .category-box .menu-text {
  transition: 0.2s;
}
.left-sidebar-layout .sidebar-box .category-box .sidebar_nav li > a .toggle-icon {
  font-size: 12px;
  font-family: "Line Awesome Free";
  font-weight: 900;
  margin-left: auto;
  transition: var(--transition);
}
.left-sidebar-layout .sidebar-box .category-box .sidebar_nav li > a .toggle-icon:before {
  content: "\f105";
}
.left-sidebar-layout .sidebar-box .category-box .sidebar_nav li ul {
  padding: 1px 36px 12px 0;
}
.left-sidebar-layout .sidebar-box .category-box .sidebar_nav li.has-child ul li {
  border-radius: 0 50rem 50rem 0;
}
.left-sidebar-layout .sidebar-box .category-box .sidebar_nav li.has-child ul li a {
  margin-left: 20px;
}
.left-sidebar-layout .sidebar-box .category-box ul.sidebar_nav li > a:hover {
  color: #2839de;
}
.left-sidebar-layout .main-content-box {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.left-sidebar-layout .main-content-box .breadcrumb-header {
  height: 44px;
  font-size: 17px;
  background-color: #f9f9f9;
  padding: 10px 20px;
  border-radius: 8px;
}

.product-one-col .product-box {
  margin-top: 30px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}
.product-one-col .product-box .product-list .read-more-btn {
  text-align: end;
  padding: 0 5px;
}
.product-one-col .product-box .product-list .product-item {
  display: flex;
  align-items: center;
  border: 1px dashed #ccc;
  padding: 5px;
  border-radius: 6px;
  margin: 8px 0;
}
.product-one-col .product-box .product-list .product-item:hover {
  border-color: red;
}
.product-one-col .product-box .product-list .product-item .product-image {
  width: 120px;
}
.product-one-col .product-box .product-list .product-item .product-image img {
  border-radius: 8px;
  width: 100%;
}
.product-one-col .product-box .product-list .product-item .product-info {
  padding: 4px 10px;
}
.product-one-col .product-box .product-list .product-item .product-info .product-name {
  font-size: 14px;
  font-weight: 500;
}
.product-one-col .product-box .product-list .product-item .product-info .price {
  font-size: 12px;
  margin-top: 5px;
}
.product-one-col .product-box .product-list .product-item .product-info .price .product-old-price {
  text-decoration: line-through;
}
.product-one-col .product-box .product-list .product-item .product-info .price .product-new-price {
  font-size: 20px;
  color: red;
}

.detail-section .detail-left-box .detail-image {
  width: 100%;
  border-radius: 10px;
}
.detail-section .detail-right-box .detail-product-name {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 25px;
  font-family: serif;
}
.detail-section .detail-right-box .detail-product-price .old-price {
  font-size: 20px;
  text-decoration: line-through;
  color: #807f7f;
}
.detail-section .detail-right-box .detail-product-price .new-price {
  font-size: 28px;
  margin-left: 20px;
  color: #0a9f1e;
  font-weight: 600;
}
.detail-section .detail-right-box .detail-product-desc {
  height: 100px;
}
.detail-section .detail-right-box .detail-button-box {
  font-size: 18px;
  line-height: 22px;
}
.detail-section .detail-right-box .detail-button-box li {
  box-shadow: 0 1px 9px 6px rgba(0, 0, 0, 0.1);
}
.detail-section .detail-right-box .detail-button-box li:last-child {
  border-radius: 0 20px 20px 0;
}
.detail-section .detail-right-box .detail-button-box li:first-child {
  border-radius: 20px 0 0 20px;
}
.detail-section .detail-right-box .detail-button-box .overflow-hidden {
  overflow: hidden !important;
}
.detail-section .detail-right-box .detail-button-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 12px;
  color: #444;
  background: #fff;
  transition: color 0.3s ease;
  cursor: pointer;
}
.detail-section .detail-right-box .detail-button-box a:hover {
  color: #fff;
  background-color: #5ba515;
}
.detail-section .product-detail {
  padding: 20px 10px;
}
.detail-section .product-detail .product-detail-content {
  height: 1000px;
  -ms-overflow-style: none; /* cho Internet Explorer, Edge */
  scrollbar-width: none; /* cho Firefox */
  overflow-y: scroll;
}
.detail-section .product-detail .product-detail-content::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}
.detail-section .product-detail .show-more-detail {
  text-align: center;
  margin-top: 20px;
}
.detail-section .product-detail .show-more-detail .show-more-detail-btn {
  border: 1px solid #ccc;
  background: #b0f3aa;
  padding: 4px 10px;
  border-radius: 6px;
}
.detail-section .product-detail .show-more-detail .show-more-detail-btn:hover {
  background-color: #87ed7d;
}
.detail-section .product-feedback-form .feedback-header {
  margin-bottom: 0;
}
.detail-section .product-feedback-form .feedback-input .feedback-input-text {
  width: 100%;
  height: 100px;
  border-radius: 6px;
  outline: none;
  padding: 10px;
  -ms-overflow-style: none; /* cho Internet Explorer, Edge */
  scrollbar-width: none; /* cho Firefox */
  overflow-y: scroll;
}
.detail-section .product-feedback-form .feedback-input .feedback-input-text::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}
.detail-section .product-feedback-form .feedback-input .feedback-btn {
  border: 1px solid #ccc;
  background: #8f0;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
  outline: none;
}
.detail-section .product-feedback-form .feedback-input .feedback-btn:hover {
  background: #9cf537;
}
.detail-section .product-feedback-form .feedback-input .feedback-btn:active {
  background: #8f0;
}

.introBannerHolder {
  position: relative;
}

.banner-overlay {
  position: absolute;
  background: rgba(87, 85, 85, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
}
.banner-overlay h1 {
  color: #fff;
}

.hide-scrollbar-y {
  width: 100%;
  -ms-overflow-style: none; /* cho Internet Explorer, Edge */
  scrollbar-width: none; /* cho Firefox */
  overflow-y: scroll;
}

.hide-scrollbar-y::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}

.cart-session .product-image {
  border-radius: 10px;
  width: 70px;
}
.cart-session .delete-cart-item {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 6px;
  background: #ed0b0b;
  color: #fff !important;
}
.cart-session .delete-cart-item:hover {
  color: #8f0;
  background: #d54a4a;
}
.cart-session .cart-left-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.cart-session .cart-total-price {
  align-items: center;
}
.cart-session .cart-total-price .total-price {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.cart-session .cart-total-price .title {
  font-size: 18px;
  color: #000;
}
.cart-session .cart-rightbox-header {
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.cart-session .cart-right-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.cart-session .cart-right-box .title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 7px;
}
.cart-session .cart-right-box .cart-price {
  font-size: 18px;
  font-weight: 600;
  color: #0fef3d;
}
.cart-session .checkout-btn {
  display: inline-block;
  outline: none;
  border: none;
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  background: #26f232;
  border-radius: 7px;
  color: #fff;
}
.cart-session .checkout-btn:hover {
  background: #16d021;
}
.cart-session .checkout-btn:active {
  background: #26f232;
}
.cart-session .cart-empty-box .btn-back-home {
  background: #31e242;
  padding: 8px 20px;
  font-weight: 500;
  color: #fff;
}
.cart-session .cart-empty-box .cart-empty-title {
  font-size: 20px;
  margin-top: 20px;
  color: red;
}
.cart-session .quantity-item-box .quantity-cart-btn {
  width: 40px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: #e9e7e7;
  cursor: pointer;
}
.cart-session .quantity-item-box .btn-decrease {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.cart-session .quantity-item-box .quantity-item-input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
}
.cart-session .quantity-item-box .btn-increase {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.checkout-session .checkout-title {
  font-weight: 600;
  color: #000;
  font-size: 17px;
}
.checkout-session .product-price {
  display: inline-block;
  width: 100%;
  text-align: end;
}
.checkout-session .list-product-checkout {
  margin-top: 10px;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
}
.checkout-session .form-control {
  height: 50px;
  background: none;
  outline: none;
}
.checkout-session .btn-voucher {
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #dadada;
  color: #000;
}
.checkout-session .btn-voucher:active {
  background-color: #dadada;
}
.checkout-session .btn-voucher:hover {
  background-color: #bfbcbc;
  border: 2px solid #30d95f;
}

.page-link {
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
}

.contact-page .banner-top-box {
  background-position: 50% 50%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative;
}
.contact-page .banner-top-box .banner-content {
  padding: 99px 0;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.contact-page .banner-top-box .bg-fill {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}
.contact-page .infor-box {
  background-color: #fff;
  padding-top: 20px;
}
.contact-page .infor-box .info-item {
  text-align: center;
  text-align: center;
  padding: 20px;
}
.contact-page .infor-box .image-box img {
  width: 100px;
}
.contact-page .infor-box .info-header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}
.contact-page .infor-box .info-title {
  font-style: italic;
  font-family: "Font Awesome 5 Free";
}
.contact-page .contact-box {
  padding: 30px 10px;
}

.jcf-btn-inc,
.jcf-btn-dec {
  display: none;
}

.blog-detail-content {
  height: 1000px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.blog-detail-content::-webkit-scrollbar {
  display: none;
}

.comment-input-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.comment-item .comment-avt {
  width: 70px !important;
  border-radius: 5px;
}

.comment-item .comment-name {
  font-size: 15px;
  color: #333;
  font-weight: 500;
}

.comment-item .comment-content-box {
  padding: 0 10px;
}

.comment-item {
  padding: 10px;
}

.avt-box {
  width: fit-content;
}

.avt-box .image-preview {
  height: 200px;
  object-fit: cover;
}

.modal-info-image {
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.modal-info-image .car-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.profile-page .account-profile .avatrSrc {
  width: 120px;
  height: 120px;
}

.account-profile #remove_pro_pic {
  position: absolute;
  background-color: #8231D3;
  color: #fff;
  border: 4px solid #fff;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3 ease;
  font-size: 14px;
}

.account-profile #remove_pro_pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-profile .pro_img_wrapper {
  width: 120px;
  height: 120px;
  border-radius: 300px;
  position: relative;
}

.account-profile #remove_pro_pic svg {
  width: 16px;
}

.form-control,
.form-control:focus {
  background: #eefff8;
}

.form-control:disabled {
  background: #e9ecef !important;
}

/*# sourceMappingURL=Custom.css.map */
