@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.limiter {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.login-session {
    /* font-family: 'Great Vibes', cursive;
    font-size: 20px; */
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-container {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.register-container {
    width: 1000px;
}

.login-header {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
}

.other-login-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: inline-flex;
    background-color: #35ace4;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.other-login-label {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

.other-login-item:hover {
    opacity: 0.8;
}

.facebook-icon {
    background-color: #3b5998;
}

.google-icon {
    background-color: #ea4335;
}

.login-box {
    width: 100%;
    padding: 5% 50px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    padding: 20px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.input-label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
}

.error-message {
    position: absolute;
    bottom: -24px;
    left: 16px;
    color: red;
}

.calendar-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

    .calendar-icon img {
        width: 100%;
    }

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

    .input-icon i {
        color: #7e6e80;
    }

.remember-checkbox {
    width: 10px;
    height: 10px;
}

.input-text {
    width: 100%;
    padding: 10px 40px;
    padding-right: 20px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #35ace4;
    border-radius: 4px;
    background-color: transparent;
}

    .input-text:focus-visible {
        outline: none;
        border: 2px solid #c718e1;
    }

.date-input-text {
    padding: 30px 20px 10px 40px;
}

.date-input-label {
    top: 30%;
    font-size: 13px;
}

.form-button .form-submit-btn {
    background: rgb(94,218,220);
    background: linear-gradient(69deg, rgba(94,218,220,1) 0%, rgba(128,189,222,1) 28%, rgba(103,224,134,0.9) 68%, rgba(215,16,226,0.8) 100%);
    font-weight: 400;
    font-size: 20px;
    padding: 5px 50px;
    margin-top: 20px;
    transition: all 1s ease-in;
}

.form-submit-btn:hover {
    background: rgb(161,220,94);
    background: linear-gradient(49deg, rgba(161,220,94,1) 0%, rgba(94,218,220,1) 35%, rgba(128,189,222,0.95) 68%, rgba(103,224,134,0.9) 100%);
    transition: all 1s ease-in;
}

.form-submit-btn:focus-visible {
    outline: none;
}

.change-action {
    font-family: 'Great Vibes', cursive;
    font-size: 20px;
}

    .change-action .change-action-link {
        font-size: 25px;
        padding-left: 10px;
        color: #c718e1;
        text-decoration: none;
    }
